<!DOCTYPE html>
<html lang="zh-TW">
    <head>
  <!-- 元数据 -->
  <meta charset="utf-8">
  <link rel="icon" href="/images/site-logo.png">
  <title>好康的 | XChiChiX</title>
  <meta name="author" content="XChiChiX" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="format-detection" content="telphone=no, email=no" />
  
    <meta name="keywords" content="" />
  
  <meta name="description" content="資料結構&amp;演算法         {     const flist &#x3D; JSON.parse(&#96;[         {         &quot;name&quot;:&quot;OI Wiki&quot;,         &quot;bio&quot;:&quot;算法&quot;,         &quot;avatar&quot;:&quot;https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;XChiChiX&#x2F;images&#x2F;main&#x2F;img&#x2F;0-40-ema.png">
<meta property="og:type" content="website">
<meta property="og:title" content="好康的">
<meta property="og:url" content="http://xchichix.github.io/links/index.html">
<meta property="og:site_name" content="XChiChiX">
<meta property="og:description" content="資料結構&amp;演算法         {     const flist &#x3D; JSON.parse(&#96;[         {         &quot;name&quot;:&quot;OI Wiki&quot;,         &quot;bio&quot;:&quot;算法&quot;,         &quot;avatar&quot;:&quot;https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;XChiChiX&#x2F;images&#x2F;main&#x2F;img&#x2F;0-40-ema.png">
<meta property="og:locale" content="zh_TW">
<meta property="og:image" content="http://xchichix.github.io/images/site-logo.png">
<meta property="article:published_time" content="2022-02-05T15:53:09.000Z">
<meta property="article:modified_time" content="2022-02-06T10:13:52.400Z">
<meta property="article:author" content="XChiChiX">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="http://xchichix.github.io/images/site-logo.png">
<meta name="twitter:site" content="@db5nGez2VL9wHZj">
  
  <!-- 站点验证相关 -->
  
    
      <meta name="google-site-verification" content="dC3goDG6FN50UOqD6MM1mVNvbMxlVe5rAdIupH_wn6g" />
    
    
    
  
  <!-- 样式表文件 -->
  <link rel="stylesheet" id="kratos-css" href="/css/kratosr.min.css" type="text/css" media="all">
  
    <link rel="stylesheet" id="highlight-css" href="/css/highlight/night-eighties.min.css" type="text/css" media="all">
  
  
  <link rel="stylesheet" id="fontawe-css" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="nprogress-css" href="https://unpkg.com/nprogress@0.2.0/nprogress.css" type="text/css" media="all">
  
  
    <link rel="stylesheet" href="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.css">
  
  
    <link rel="stylesheet" href="https://unpkg.com/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
  
  
    <link rel="stylesheet" id="darkmode-css" href="/css/kr-dark.min.css" type="text/css" media="all">
  
  <!-- 不得不预先加载的一些JS文件 -->
  <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
  
  
  <style>
    
      .kratos-cover.kratos-cover-2 {
        background-image: url('/images/banner.webp');
      }
    
    
      @media(min-width:768px) {
        body.custom-background {
          background-image: url('/images/bg.webp');
        }
      }
    
  </style>
  
<meta name="generator" content="Hexo 6.0.0"></head>


    <body class="custom-background">
        <div id="kratos-wrapper">
    <div id="kratos-page">
        <div id="kratos-header">
            <header id="kratos-desktop-topnav" class="kratos-topnav">
                <div class="container">
                    <div class="nav-header">
                        <nav id="kratos-menu-wrap">
                            <ul id="kratos-primary-menu" class="sf-menu">
                                
                                    
                                        <li><a href="/"><i class="fa fa-home"></i>首頁</a></li>
                                    
                                
                                    
                                        <li><a href="/archives/"><i class="fa fa-book"></i>歸檔</a></li>
                                    
                                
                                    
                                        <li><a href="/bangumis/"><i class="fa fa-television"></i>追劇</a></li>
                                    
                                
                                    
                                        <li><a href="/music/"><i class="fa fa-music"></i>音樂相關</a></li>
                                    
                                
                                    
                                        <li><a href="/charts/"><i class="fa fa-area-chart"></i>統計</a></li>
                                    
                                
                                    
                                        <li><a target="_blank" rel="noopener" href="https://github.com/Candinya/Kratos-Rebirth"><i class="fa fa-info-circle"></i>主題來源</a></li>
                                    
                                
                                    
                                        <li>
                                            <a><i class="fa fa-bookmark"></i>網站</a>
                                            <ul class="sub-menu">
                                                
                                                    
                                                
                                                    
                                                        <li><a href="/friends/"><i class="fa fa-bolt"></i>大神</a></li>
                                                    
                                                
                                                    
                                                        <li><a href="/links/"><i class="fa fa-heart"></i>好康的</a></li>
                                                    
                                                
                                            </ul>
                                        </li>
                                    
                                
                                    
                                        <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                                    
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <header id="kratos-mobile-topnav" class="kratos-topnav">
                <div class="container">
                    <div class="color-logo"><a href="/">XChiChiX</a></div>
                    <div class="nav-toggle">
                        <a class="kratos-nav-toggle js-kratos-nav-toggle">
                            <i></i>
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <div class="kratos-start kratos-hero-2">
            <!-- <div class="kratos-overlay"></div> -->
            <div class="kratos-cover kratos-cover-2 text-center">
                <div class="desc desc2 animate-box">
                    <a href="/">
                        <h2>XChiChiX</h2> <br />
                        <span>這不是很戲劇化的發展嗎</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="kratos-blog-post">
            <div class="container">
                <div id="main" class="row">
                    

        

            <section class="col-md-8">

        

            <article>
    <div class="kratos-hentry kratos-post-inner clearfix">
        <div class="kratos-post-content">
            <h2 class="title-h2 text-center">好康的</h2>
            <h2 id="資料結構-amp-演算法"><a href="#資料結構-amp-演算法" class="headerlink" title="資料結構&amp;演算法"></a>資料結構&amp;演算法</h2><div class="linkpage">
    <ul id="friendsList1"></ul>
</div>

<script type="text/javascript">
{
    const flist = JSON.parse(`[
        {
        "name":"OI Wiki",
        "bio":"算法",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-40-ema.png",
        "link":"https://oi-wiki.org/"},
        {
        "name":"Lucky貓",
        "bio":"UVA翻譯",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-51-ema.png",
        "link":"http://web.kshs.kh.edu.tw/academy/luckycat/index.htm"},
        {
        "name":"演算法筆記",
        "bio":"算法",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-62-ema.png",
        "link":"https://web.ntnu.edu.tw/~algo/"},
        {
        "name":"ZeroJudge",
        "bio":"刷題",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/1-20-ema.png",
        "link":"https://zerojudge.tw/"},
        {
        "name":"YUI HUANG 演算法學習筆記",
        "bio":"CPE就靠它了",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/1-48-ema.png",
        "link":"https://yuihuang.com/"},
        {
        "name":"UVA",
        "bio":"刷題都英文",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/1-28-ema.png",
        "link":"https://onlinejudge.org/"},
        {
        "name":"LeetCode",
        "bio":"刷題都英文",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/1-45-ema.png",
        "link":"https://leetcode.com/"},
        {
        "name":"小浩算法",
        "bio":"算法",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/1-58-ema.png",
        "link":"https://www.geekxh.com/0.0.%E5%AD%A6%E4%B9%A0%E9%A1%BB%E7%9F%A5/01.html"}
    ]`);
    let friendNodes = '';
    while (flist.length > 0) {
        const rndNum = Math.floor(Math.random()*flist.length);
        friendNodes += `<li><a target="_blank" href="${flist[rndNum].link}"><img src="${flist[rndNum].avatar || '<%- url_cdn("images/avatar.webp") %>'}"><h4>${flist[rndNum].name}</h4><p>${flist[rndNum].bio || ''}</p></a></li>`;
        flist.splice(rndNum, 1);
    }
    document.getElementById("friendsList1").innerHTML = friendNodes;
}
</script>

<h2 id="學日文"><a href="#學日文" class="headerlink" title="學日文"></a>學日文</h2><div class="linkpage">
    <ul id="friendsList2"></ul>
</div>

<script type="text/javascript">
{
    const flist = JSON.parse(`[
        {
        "name":"時雨の町",
        "bio":"學日文",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-6-ema.png",
        "link":"https://www.sigure.tw/"},
        {
        "name":"音速日語",
        "bio":"音速學日文",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-5-ema.png",
        "link":"https://jp.sonic-learning.com/2020/02/11/tsukau/"}
    ]`);
    let friendNodes = '';
    while (flist.length > 0) {
        const rndNum = Math.floor(Math.random()*flist.length);
        friendNodes += `<li><a target="_blank" href="${flist[rndNum].link}"><img src="${flist[rndNum].avatar || '<%- url_cdn("images/avatar.webp") %>'}"><h4>${flist[rndNum].name}</h4><p>${flist[rndNum].bio || ''}</p></a></li>`;
        flist.splice(rndNum, 1);
    }
    document.getElementById("friendsList2").innerHTML = friendNodes;
}
</script>

<h2 id="其他"><a href="#其他" class="headerlink" title="其他"></a>其他</h2><div class="linkpage">
    <ul id="friendsList3"></ul>
</div>

<script type="text/javascript">
{
    const flist = JSON.parse(`[
        {
        "name":"巴哈姆特",
        "bio":"嗯",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-29-ema.png",
        "link":"https://forum.gamer.com.tw/"},
        {
        "name":"動畫瘋",
        "bio":"看動漫",
        "avatar":"https://raw.githubusercontent.com/XChiChiX/images/main/img/0-17-ema.png",
        "link":"https://ani.gamer.com.tw/"}
    ]`);
    let friendNodes = '';
    while (flist.length > 0) {
        const rndNum = Math.floor(Math.random()*flist.length);
        friendNodes += `<li><a target="_blank" href="${flist[rndNum].link}"><img src="${flist[rndNum].avatar || '<%- url_cdn("images/avatar.webp") %>'}"><h4>${flist[rndNum].name}</h4><p>${flist[rndNum].bio || ''}</p></a></li>`;
        flist.splice(rndNum, 1);
    }
    document.getElementById("friendsList3").innerHTML = friendNodes;
}
</script>

<div class="video-container"><iframe src="https://www.youtube.com/embed/ac4d0NVh9Ms" frameborder="0" loading="lazy" allowfullscreen></iframe></div>
        </div>
        <footer class="kratos-entry-footer clearfix">
            <div class="footer-tag clearfix">
                <div class="pull-date">
                <span>最後編輯：2022-02-06</span>
                </div>
            </div>
        </footer>
    </div>
    
        <div id="w-comments" class="post-comments"></div>
<script>
    var load_comm = () => {
        const init = () => {
            new Waline(Object.assign({
                el: '#w-comments',
                path: '/links/index.html',
                lang: 'zh-TW',
                placeholder: '不用登錄也行',
                meta: ['nick'],
                mail: '信箱'

            }, JSON.parse('{"serverURL":"https://blog-api-8c9u8y6af-xchichix.vercel.app/","visitor":true}')));
        }
        if (typeof Waline === 'undefined') {
            const src = 'https://unpkg.com/@waline/client/dist/Waline.min.js';
            $.getScript(src, init);
        } else {
            init();
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a target="_blank" rel="noopener" href="https://waline.js.org/">comments powered by Waline.</a></noscript>

    
</article>

        

            </section>

        

                
            

<section id="kratos-widget-area" class="col-md-4 hidden-xs hidden-sm">
    <!-- 文章和页面根据splitter来分割，没有的话就从头开始设置为sticky -->
    
    
                <aside id="krw-about" class="widget widget-kratos-about clearfix">
    <div class="photo-background"></div>
    <div class="photo-wrapper clearfix">
        <div class="photo-wrapper-tip text-center">
            <img class="about-photo" src="/images/marin.gif" />
        </div>
    </div>
    <div class="textwidget">
        <p class="text-center">もっと強くなりたい</p>
    </div>
</aside>
            
                    <div class="sticky-area">
                
                
  <aside id="krw-categories" class="widget widget-kratos-categories clearfix">
    <h4 class="widget-title"><i class="fa fa-folder"></i>分類目錄</h4>
      <ul class="category-list"><li class="category-list-item"><a class="category-list-link" href="/categories/%E6%B8%AC%E8%A9%A6/">測試</a><span class="category-list-count">2</span></li><li class="category-list-item"><a class="category-list-link" href="/categories/%E7%BD%AE%E9%A0%82/">置頂</a><span class="category-list-count">1</span></li><li class="category-list-item"><a class="category-list-link" href="/categories/%E8%A7%A3%E9%A1%8C%E7%B4%80%E9%8C%84/">解題紀錄</a><span class="category-list-count">52</span></li><li class="category-list-item"><a class="category-list-link" href="/categories/%E8%B3%87%E6%96%99%E7%B5%90%E6%A7%8B/">資料結構</a><span class="category-list-count">4</span></li><li class="category-list-item"><a class="category-list-link" href="/categories/%E9%9A%A8%E4%BE%BF%E5%AF%AB/">隨便寫</a><span class="category-list-count">1</span></li></ul>
  </aside>


            
                
  <aside id="krw-tags" class="widget widget-kratos-tags clearfix">
    <h4 class="widget-title"><i class="fa fa-tags"></i>很多標籤</h4>
      <div class="tag-clouds">
        <a href="/tags/cpe/" style="font-size: 0.8em;">cpe</a> <a href="/tags/dp/" style="font-size: 0.68em;">dp</a> <a href="/tags/map/" style="font-size: 0.72em;">map</a> <a href="/tags/queue/" style="font-size: 0.64em;">queue</a> <a href="/tags/set/" style="font-size: 0.64em;">set</a> <a href="/tags/sort/" style="font-size: 0.76em;">sort</a> <a href="/tags/stack/" style="font-size: 0.68em;">stack</a> <a href="/tags/uva/" style="font-size: 0.8em;">uva</a> <a href="/tags/zerojudge/" style="font-size: 0.8em;">zerojudge</a> <a href="/tags/%E6%97%A9%E4%B8%8A%E5%A5%BD/" style="font-size: 0.6em;">早上好</a> <a href="/tags/%E6%98%9F%E7%88%86/" style="font-size: 0.6em;">星爆</a> <a href="/tags/%E6%9E%9A%E8%88%89/" style="font-size: 0.6em;">枚舉</a> <a href="/tags/%E6%A8%A1%E6%93%AC/" style="font-size: 0.76em;">模擬</a> <a href="/tags/%E8%B2%BB%E6%B0%8F%E6%95%B8%E5%88%97/" style="font-size: 0.6em;">費氏數列</a> <a href="/tags/%E9%80%B2%E5%88%B6%E8%BD%89%E6%8F%9B/" style="font-size: 0.76em;">進制轉換</a>
      </div>
  </aside>

            
                
  <aside id="krw-posts" class="widget widget-kratos-posts">
  <h4 class="widget-title"><i class="fa fa-file"></i>最新文章</h4>
  <div class="tab-content">
      <ul class="list-group">
        
        
          
          
            <a class="list-group-item" href="/2022/02/11/UVA-10221/"><i class="fa  fa-book"></i> UVA-10221: Satellites</a>
            
          
        
          
          
            <a class="list-group-item" href="/2022/02/09/UVA-10093/"><i class="fa  fa-book"></i> UVA-10093: An Easy Problem!</a>
            
          
        
          
          
            <a class="list-group-item" href="/2022/02/09/d129-00136/"><i class="fa  fa-book"></i> d129: 00136 - Ugly Numbers</a>
            
          
        
          
          
            <a class="list-group-item" href="/2022/02/08/d206-00108/"><i class="fa  fa-book"></i> d206: 00108 - Maximum Sum</a>
            
          
        
          
          
            <a class="list-group-item" href="/2022/02/07/%E9%9B%86%E5%90%88/"><i class="fa  fa-book"></i> C++ STL: Set</a>
            
          
        
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
      </ul>
  </div>
  </aside>

            
    </div>
</section>
        
        </div>
    </div>
</div>
<footer>
    <div id="footer"  class="ap-lrc"  >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <ul class="kratos-social-icons">
                        
                        
                        
                        <li><a target="_blank" rel="nofollow" href="https://twitter.com/db5nGez2VL9wHZj"><i class="fa fa-twitter"></i></a></li>
                        
                        
                        
                        <li><a target="_blank" rel="nofollow" href="https://github.com/XChiChiX"><i class="fa fa-github"></i></a></li>
                        
                    </ul>
                    <ul class="kratos-copyright">
                        <div>
                            <li>&copy; 2022 XChiChiX 版權所有.</li>
                            <li>本站已運行<span id="span_dt">Loading...</span></li>
                        </div>
                        <div>
                            <li>Theme <a href="https://github.com/Candinya/Kratos-Rebirth" target="_blank">Kratos:Rebirth</a></li>
                            <li>Site built with&nbsp;<i class="fa fa-heart throb" style="color:#d43f57"></i>&nbsp;by XChiChiX.</li>
                        </div>
                        <div>
                            <li>Powered by <a href="https://hexo.io" target="_blank" rel="nofollow">Hexo</a></li>
                            <li>Hosted on <a href="https://github.io" target="_blank">Github Pages</a></li>
                        </div>
                        <div>
                            
                            
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="kr-tool text-center">
            <div class="tool">
                
                    <div class="box search-box">
                        <a href="/search/">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                
                
                    <div class="box theme-box" id="darkmode-switch">
                        <span class="fa fa-adjust"></span>
                    </div>
                
                
                
                <script src="//code.tidio.co/houtiasuiwkwumofst66c7qu5e4czlb9.js"></script>
                
            </div>
            <div class="box gotop-box">
                <span class="fa fa-chevron-up"></span>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

        <script defer src="https://unpkg.com/bootstrap@3.3.4/dist/js/bootstrap.min.js"></script>
<script defer src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
<script>
    if (!window.kr) {
        window.kr = {};
    }
    window.kr.notMobile = (!(navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)));
    window.kr.siteRoot = "/";
</script>

    <div>
        <canvas id="snow"></canvas>
        <script async type="text/javascript" src="/js/snow.min.js"></script>
    </div>


    <script async src="/js/candy.min.js"></script>



    <script defer src="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.js"></script>
    
    <script defer src="https://unpkg.com/meting@2/dist/Meting.min.js"></script>
    <meting-js
        server="netease"
        type="playlist"
        id="945133400"
        order="random"
        fixed="true"
    >
    </meting-js>



    <script defer src="https://unpkg.com/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script defer src="https://unpkg.com/clipboard@2.0.6/dist/clipboard.min.js"></script>
<script defer src="/js/kratosr.min.js"></script>
<script defer src="/js/pjax.min.js"></script>


    <script defer src="/js/kr-dark.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=G-YEK9RFHCSV"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-YEK9RFHCSV');</script>

<!-- Extra support for third-party plguins  -->


    </body>
</html>